@using DTOs

@model List<BuildingDTO>

@{
    ViewBag.Title = "Buildings";
}

<h2>Buildings</h2>

@{
    if (Model.Count() == 0)
    {
        WriteLiteral("<p> We were unable to find you in our database. Please <a href=\"/Home/Index\">try again</a> with a different ICO. </p>");
        return;
    }
}

<div>
    @{
        string[] columns = new string[] { "id", "subject_name", "municipality", "house_number", "use" };
    }
    <table border="1">

        <tr>
            @foreach (string column in columns)
            {
                if (column.Equals("id"))
                {
                    <th> ID </th>
                }
                if (column.Equals("type"))
                {
                    <th> Type </th>
                }
                if (column.Equals("use"))
                {
                    <th> Use </th>
                }
                if (column.Equals("municipality"))
                {
                    <th> Municipality </th>
                }
                if (column.Equals("house_number"))
                {
                    <th> House Number </th>
                }
                if (column.Equals("plat"))
                {
                    <th> Plat </th>
                }
                if (column.Equals("subject_name"))
                {
                    <th> Name </th>
                }
                // not complete yet
            }

            <th></th>
        </tr>


            @foreach (BuildingDTO building in Model)
            {
            <tr>
                @foreach (string column in columns)
                {
                    if (column.Equals("id"))
                    {
                        <td> @building.ID.ToString() </td>
                    }
                    if (column.Equals("type"))
                    {
                        <td> @building.Type</td>
                    }
                    if (column.Equals("use"))
                    {
                        <td> @building.Use </td>
                    }
                    if (column.Equals("municipality"))
                    {
                        <td> @building.Municipality </td>
                    }
                    if (column.Equals("house_number"))
                    {
                        <td> @building.HouseNumber </td>
                    }
                    if (column.Equals("plat"))
                    {
                        <td> @building.Plat </td>
                    }
                    if (column.Equals("subject_name"))
                    {
                        <td> @building.SubjectName </td>
                    }                  
                }
                <td><a href=/Home/Form/@building.ID.ToString()><button class="btn btn-default">Submit Form</button></a></td>
            </tr>
            }

    </table>
</div>

